<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ServerURL</key>
	<string>https://bdd-api-default.k8s.dev.apptentive.com/conversations</string>
	<key>Key</key>
	<string>valid</string>
	<key>Signature</key>
	<string>valid</string>
</dict>
</plist>
