<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>README</key>
	<string>Rename this file to Defaults.plist and add your credentials from the Apptentive Dashboard</string>
	<key>Key</key>
	<string>&lt;#Your Apptentive App Key#&gt;</string>
	<key>ServerURL</key>
	<string>https://api.apptentive.com</string>
	<key>Signature</key>
	<string>&lt;#Your Apptentive App Signature#&gt;</string>
</dict>
</plist>
