//
//  TestCredentials.xcconfig
//  ApptentiveKit
//
//  Created by Frank Schmitt on 12/6/22.
//  Copyright © 2022 Apptentive, Inc. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// Include app version and build.
#include "../../Version.xcconfig"

// Include Operator app credentials if present.
// This should set INTEGRATION_API_KEY/SIGNATURE for internal testing.
#include? "../../Operator/Credentials.xcconfig"

// UI Test Host App
UI_TEST_API_KEY = IOS-AUTOMATED-TEST
UI_TEST_API_SIGNATURE = bogus

// To run integration tests with your app's setup in the Apptentive Dashboard,
// rename or copy this file to Credentials.xcconfig and populate the values
// below from the API & Development section of the Settings tab for your app
// in the Apptentive Dashboard.

// Note that future integration tests may make assumptions about the
// test app's configuration and may not pass using your app's configuration.

// The values in this file are copied to the Info.plist file and will be
// easily readable in the test bundle, so like any app using Info.plist
// to store credentials, the test bundle should not be shared with
// untrusted users.

INTEGRATION_API_HOST = api.apptentive.com

// Uncommment and replace with the App Key and App Signature for your app
// to run integration tests.
// INTEGRATION_API_KEY = <#App Key#>
// INTEGRATION_API_SIGNATURE = <#App Signature#>

