//
//  Credentials.xcconfig
//  Operator
//
//  Created by Frank Schmitt on 12/6/22.
//  Copyright © 2022 Apptentive, Inc. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// To use the Operator app to test your app's setup in the Apptentive
// Dashboard, rename or copy this file to Credentials.xcconfig and populate
// the values below from the API & Development section of the Settings tab for
// your app in the Apptentive Dashboard.

// The values in this file are copied to the app's Info.plist and will be
// easily readable in the app bundle.
//
// Therefore THIS TECHNIQUE IS NOT SUITABLE FOR PRODUCTION APPS!

// Set the app version and build to match the SDK version and build.
#include "../Version.xcconfig"

// This value should typically not be changed.
APPTENTIVE_API_HOST = api.apptentive.com

// Replace with the App Key and App Signature for your app
APPTENTIVE_API_KEY = <#App Key#>
APPTENTIVE_API_SIGNATURE = <#App Signature#>
